.benefit {
  background-color: #fef7f0;

  &__list {
    display: flex;
  }

  &__item {
    position: relative;

    display: flex;
    max-width: 33.33%;
    justify-content: center;
    width: 100%;
    padding: 39px 0 39px 80px;

    &:not(:last-child) {
      border-right: 1px solid #e8e4df;
    }


  }

  &__content {
    position: relative;

    max-width: 220px;

    &::before {
      position: absolute;
      left: -80px;
      top: 8px;
    }

    &--support {
      &::before {
        content: url('../images/icons/support.svg');
      }

    }

    &--delivery {
      &::before {
        content: url('../images/icons/delivery.svg');
      }

    }

    &--payment {
      &::before {
        content: url('../images/icons/payment.svg');
      }
    }
  }

  &__title {
    color: #414141;
    font-size: 18px;
    line-height: 2.22;
  }

  &__text {
    @extend %sans-400;

    font-size: 16px;
    line-height: 1.8;
    color: #585858;
  }
}