.footer {
  @extend %footer-text;

  &__top {
    display: flex;
    padding: 70px 0;

    line-height: 1.71;
    border-bottom: 1px solid #dae4e9;
  }

  &__title {
    margin-bottom: 24px;

    @extend %sans-700;
    font-size: 16px;
    color: #1f2044;
    text-transform: uppercase;
  }

  &__top-item {
    max-width: 220px;
    margin-bottom: 10px;

    &--services {
      margin: 0 180px 0 100px;
    }
  }

  &__top-address {
    margin-top: 30px;
  }

  &__top-link {
    font-style: normal;
    @extend %footer-text;

    border-bottom: 1px solid transparent;

    transition: all .3s;

    &:hover {
      text-shadow: 0 0 .45px $link, 0 0 .45px $link;
      border-bottom: 1px solid $link;
    }
  }

  &__top-form {
    max-width: 275px;
    margin-left: auto;
  }

  &__form-text {
    margin-bottom: 35px;
  }

  &__form-container {
    display: flex;
  }

  &__input {
    width: 170px;
    height: 38px;
    padding: 14px 15px 16px;

    background-color: #fef7f0;
    border: none;

    &::placeholder {
      @extend %sans-400;
      font-size: 12px;
      color: #234969;
    }
  }

  &__btn {
    padding: 8px 16px;
    height: 38px;
    width: 100px;

    @extend %sans-400;
    font-weight: 400;
    font-size: 14px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
  }

  &__bottom-list {
    display: flex;
    margin-left: 100px;

    line-height: 1.2;
  }

  &__bottom-item {
    &+& {
      margin-left: 13px;
      padding-left: 13px;
      border-left: 1px solid $link;
    }
  }

  &__bottom-link {
    color: $link;
    border-bottom: 1px solid transparent;

    transition: all .3s;

    &:hover {
      text-shadow: 0 0 .45px $link, 0 0 .45px $link;
      border-bottom: 1px solid $link;
    }
  }
}