.menu {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;

  &__btn {
    position: relative;

    display: none;
    margin-left: 150px;
    padding-right: 30px;

    color: $accent;

    background-color: transparent;
    border: none;
    @extend %link-actions;


    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      right: 0px;
      top: 6px;

      width: 15px;
      height: 15px;

      background-image: url('../../images/icons/up-angle.svg');
      background-size: cover;

      transform: rotate(180deg);
    }

    &--active {
      &.menu__btn::after {
      transform: rotate(0);
      }
    }

    @media (max-width: $lg) {
      display: block;
    }

    @media (max-width: $md) {
      margin-left: auto;
    }
    

  }

  &__list {
    display: flex;
    margin-left: 147px;

    z-index: 10;

    @media (max-width: $lg) {
      position: absolute;
      top: 130px;

      width: 100%;

      display: block;
      margin-left: 0;

      text-align: center;

      background-color: #fff;

      transform: translateY(-200%);

      transition: transform .3s;
    }

    @media (max-width: $md) {
      top: 180px;
    }

    @media (max-width: $sm) {}

    @media (max-width: $xs) {}

    &--active {
      transform: translateY(0);
    }

  }

  &__item {
    &:not(:last-child) {
      margin-right: 33px;

      @media (max-width: $lg) {
        margin: 0 0 15px;
      }

    }
  }

  &__link {
    padding: 0 2px 2px;

    @extend %rubik-500;
    font-size: 15px;
    color: $accent;
    @extend %link-actions;
  }
}

.user-nav {
  display: flex;
  align-items: center;

  svg {
    width: 19px;
    height: 17px;

    @media (max-width: $xs) {
      width: 15px;
      height: 13px;
    }
    
  }

  &__orders {
    display: flex;
    padding: 9px 41px 9px;
    margin-right: 18px;

    background-color: #fcd7b6;
    border-radius: 25px;
  }

  &__link {
    position: relative;

    &--search {
      padding: 17px;
      margin-right: 21px;

      background-color: #edf1f4;
      border-radius: 50%;
      transition: transform .3s;

      &:hover svg {
        transform: scale(2);
      }
    }

    &--heart {

      padding: 9px 29px 9px 0;
      margin-right: 29px;
      border-right: 1px solid #fde7d3;

      transition: transform .3s;

      &:hover {
        svg {
          transform: scale(2);
        }

        .user-nav__number {
          transform: scale(1.4) translate(5px, -5px);
        }
      }
    }

    &--cart {
      padding: 9px 0;

      transition: all .3s;

      &:hover {
        svg {
          transform: scale(2);
        }

        .user-nav__number {
          transform: scale(1.4) translate(5px, -5px);
        }
      }
    }

    &--menu-btn {
      padding: 15px;

      border-radius: 50%;
      background-color: #a3bbc8;

      &:hover svg {
        transform: scale(1.7);
      }
    }
  }

  &__img {
    display: block;

    transition: transform .3s;
  }

  &__number {
    position: absolute;
    top: 2px;
    left: 11px;

    width: 16px;
    height: 16px;

    text-align: center;
    line-height: 16px;
    font-size: 10px;
    color: $title;

    border-radius: 50%;
    background-color: #fff;

    z-index: 2;

    transition: transform .3s;
  }

  @media (max-width: $md) {
    width: 100%;
    justify-content: flex-end;
    margin-top: 20px;
  }

  @media (max-width: $xs) {
    justify-content: center;
  }
  

}