.new-design {
  padding-top: 100px;

  .mixitup-control-active {
    color: #191919;
  }

  &__content {
    padding-bottom: 110px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 35px;
    grid-column-gap: 30px;

    @media (max-width: $md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $sm) {
      display: flex;
      margin-top: 30px;

      flex-wrap: wrap;
      justify-content: center;
    }
    

  }
}