.products-special {
  padding-top: 180px;
  display: flex;
  justify-content: space-between;


  &__item {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 60px 150px 85px 20px;

    background-color: #feefe2;

    &+& {
      margin-left: 30px;

      @media (max-width: $lg) {
        margin-left: 0;
        margin-top: 30px;
      }
      
    }

    @media (max-width: $lg) {
      display: none;
    }

    
    
    
  }

  &__container {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 329px;

    @media (max-width: 1640px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    
  }

  &__img {
    position: absolute;
    left: -280px;
    bottom: 0;

    max-width: 233px;

    @media (max-width: 1640px) {
      position: relative;
      left: 0;

      width: 50%;
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 30px;

    font-size: 26px;
    line-height: 1.23;
    color: $title;
  }

  &__text {
    margin-bottom: 35px;

    @extend %rubik-400;
    color: $title;
    line-height: 1.87;
  }

  &__link {
    position: relative;

    padding: 23px 85px 23px 23px;
    width: 185px;

    &:hover {
      color: #fff;
      border-color: transparent;

      &::after {
        background-image: url('../../images/icons/arrow.svg');
      }
    }

    &::after {
      content: '';

      position: absolute;
      top: 45%;
      right: 34px;

      width: 22px;
      height: 9px;

      background-image: url('../images/icons/arrow-accent.svg');
    }

    @media (max-width: 1640px) {
      display: block;
    }
  }

  @media (max-width: $lg) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  
}