.products-week {
  padding-top: 65px;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 30px;
  }

  .mixitup-control-active {
    color: #191919;
  }

  &__special {
    padding-top: 180px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 60px 150px 85px 20px;

    background-color: #feefe2;

    & + & {
      margin-left: 30px;
    }
  }

  &__container {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 329px;
  }
  
  &__img {
    position: absolute;
    left: -280px;
    bottom: 0;
  }

  &__title {
    margin-bottom: 30px;

    font-size: 26px;
    line-height: 1.23;
    color: $title;
  }

  &__text {
    margin-bottom: 35px;

    @extend %rubik-400;
    color: $title;
    line-height: 1.87;
  }

  &__link {
    position: relative;

    padding: 23px 85px 23px 23px;
    width: 185px;

    @extend %rubik-500;
    font-size: 15px;
    line-height: 1;
    color: $accent;

    border: 1px solid $title;
    border-radius: 5px;
    outline: transparent;

    @extend %btn-actions;

    &:hover {
      color: #fff;
      border-color: transparent;
      
      &::after {
        background-image: url('../../images/icons/arrow.svg');
      }
    }

    &::after {
      content: '';

      position: absolute;
      top: 45%;
      right: 34px;

      width: 22px;
      height: 9px;

      background-image: url('../images/icons/arrow-accent.svg');
    }
  }
}