.slider-product {
  padding: 222px 0 281px;

  background-color: #fcd7b6;

  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  &__title {
    max-width: 420px;

    @extend %rubik-500;
    font-size: 72px;
    line-height: 1;
    color: $title;

    text-transform: uppercase;
  }

  &__descr {
    max-width: 370px;
    margin: 20px 0 30px;

    @extend %rubik-400;
    font-size: 18px;
    line-height: 1.66;
    color: $accent;
  }

  &__link {
    position: relative;

    display: inline-block;
    padding: 23px 100px 23px 23px;

    &::after {
      content: '';

      position: absolute;
      top: 45%;
      right: 18px;

      width: 22px;
      height: 9px;

      background-image: url('../images/icons/arrow.svg');
    }
  }

  &__img {
    img {
      max-width: 640px;
      max-height: 264px;

      object-fit: contain;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: -229px;
    left: 50%;

    display: flex;

    transform: translateX(-50%);

    li+li {
      margin-left: 10px;
    }

    button {
      width: 29px;
      height: 29px;

      @extend %rubik-500;
      text-align: center;
      font-size: 11px;
      line-height: 1;
      color: $title;

      background-color: rgba(255, 255, 255, .3);
      outline: transparent;
      border-radius: 50%;
      border: none;

      cursor: pointer;
    }

    .slick-active button {
      background-color: #fff;
    }
  }
}