html,
body {
  height: 100%;
}

body {
  display: flex;

  @extend %sans-700;
  font-size: 16px;
  flex-direction: column;
  line-height: 1.4;

  background-color: #fff;
}

.visibility-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;

  &--large {
    max-width: 1830px;
  }
}

.title {
  margin-bottom: 14px;

  @extend %sans-700;
  text-align: center;
  font-size: 36px;
  line-height: 1.23;
  color: $title;
}

