$accent: #436372;
$title: #191919;
$link: #7b7b7b;

%sans-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%sans-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%sans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%footer-text {
  @extend %rubik-400;
  font-size: 14px;
  color: #7b7b7b;
  font-style: normal;
}

%btn-actions {
  &{
    transition: all .3s;
  }

  &:hover {
    background-color: rgb(178, 197, 207);
    box-shadow: 0px 0px 17px 0px rgba(178, 197, 207, .8);
  }

  &:active {
    background-color: #8d9ca3;
  }

  &:focus {
    outline: rgb(133, 148, 117) solid 2px;
  }
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}