$accent-color: #436372;
$title-color: #243f4d;
$link-color: #7b7b7b;

%sans-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%sans-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%sans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%footer-text {
  @extend %rubik-400;
  font-size: 14px;
  color: #7b7b7b;
  font-style: normal;
}