$header-color: #436372;

%sans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%sans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%sans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%footer-text {
  @extend %rubik-400;
  font-size: 14px;
  color: #7b7b7b;
  font-style: normal;
}

%title {
  margin-bottom: 30px;

  @extend %sans-700;
  text-align: center;
  font-size: 36px;
  line-height: 1.23;
  color: #243f4d;
}

%filter-btn {
  margin-bottom: 78px;

  color: #8b8b8b;

  background-color: transparent;
  border: none;
  outline: transparent;

  cursor: pointer;
}