@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.logo {
  margin-right: 147px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;

  &__list {
    display: flex;
  }

  &__item {
    &+& {
      margin-left: 33px;
    }
  }

  &__link {
    padding: 0 2px 2px;

    @extend %rubik-500;
    font-size: 15px;
    color: $accent-color;
    border-bottom: 1px solid transparent;

    transition: border-color .3s;

    &:hover {
      border-color: $accent-color;
    }
  }

}

.user-nav {
  display: flex;
  align-items: center;

  &__orders {
    display: flex;
    padding: 9px 41px 9px;
    margin-right: 18px;

    background-color: #fcd7b6;
    border-radius: 25px;
  }

  &__link {
    position: relative;
  }

  &__img {
    display: block;
  }

  &__number {
    position: absolute;
    top: 2px;
    left: 11px;

    width: 16px;
    height: 16px;

    text-align: center;
    line-height: 16px;
    font-size: 10px;
    color: $title-color;

    border-radius: 50%;
    background-color: #fff;

    z-index: 2;

    transition: transform .3s;
  }

  &__img {
    transition: transform .3s;
  }

  &__link--search {
    padding: 17px;
    margin-right: 21px;

    background-color: #edf1f4;
    border-radius: 50%;
    transition: transform .3s;

    &:hover svg {
      transform: scale(2, 2);
    }
  }

  &__link--heart {

    padding: 9px 29px 9px 0;
    margin-right: 29px;
    border-right: 1px solid #fde7d3;

    transition: transform .3s;

    &:hover svg {
      transform: scale(2, 2);
    }

    &:hover .user-nav__number {
      transform: scale(1.4, 1.4) translate(5px, -5px);

    }
  }

  &__link--cart {
    padding: 9px 0;

    transition: all .3s;

    &:hover svg {
      transform: scale(2, 2);
    }

    &:hover .user-nav__number {
      transform: scale(1.4, 1.4) translate(5px, -5px);
    }
  }

  &__link--menu-btn {
    padding: 15px;

    border-radius: 50%;
    background-color: #a3bbc8;

    &:hover svg {
      transform: scale(1.7, 1.7);
    }
  }

}

.slider-product {
  padding: 222px 0 281px;

  background-color: #fcd7b6;

  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    max-width: 420px;

    @extend %rubik-500;
    font-size: 72px;
    line-height: 1;
    color: $title-color;

    text-transform: uppercase;
  }

  &__descr {
    max-width: 370px;
    margin: 20px 0 30px;

    @extend %rubik-400;
    font-size: 18px;
    line-height: 1.66;
    color: $accent-color;
  }

  &__link {
    position: relative;

    display: inline-block;
    padding: 23px 100px 23px 23px;

    @extend %rubik-500;
    font-size: 15px;
    line-height: 1;
    color: #ffffff;

    background-color: #a3bbc8;
    outline: transparent;

    transition: all .3s;

    &:hover {
      background-color: rgb(178, 197, 207);
      box-shadow: 0px 0px 17px 0px rgba(178, 197, 207, .8);
    }

    &:active {
      background-color: rgb(141, 156, 163);
    }
  }



  &__link::after {
    content: '';

    position: absolute;
    top: 45%;
    right: 18px;

    width: 22px;
    height: 9px;

    background-image: url('../images/icons/arrow.svg');
  }

  & .slick-dots {
    position: absolute;
    bottom: -229px;
    left: 50%;

    display: flex;

    transform: translateX(-50%);

    & li+li {
      margin-left: 10px;
    }

    & button {
      width: 29px;
      height: 29px;

      @extend %rubik-500;
      text-align: center;
      font-size: 11px;
      line-height: 1;
      color: $title-color;

      background-color: rgba(255, 255, 255, .3);
      outline: transparent;
      border-radius: 50%;
      border: none;

      cursor: pointer;
    }

    & .slick-active button {
      background-color: #fff;
    }
  }
}


.benefit {
  display: flex;

  background-color: #fef7f0;

  &__item {
    position: relative;

    display: flex;
    width: 100%;
    padding: 39px 0;
  }

  &__item::before {
    content: '';

    position: absolute;
    top: 60px;
    left: 160px;
  }

  &__item--support {
    max-width: 567px;

  }

  &__item--support &__content {
    margin-left: 222px;
  }

  &__item--support::before {
    width: 49px;
    height: 49px;

    background-image: url('../images/icons/support.svg');
  }

  &__item--delivery {
    max-width: 603px;

    border-right: 1px solid #e8e4df;
    border-left: 1px solid #e8e4df;
  }

  &__item--delivery &__content {
    max-width: 220px;
    margin-left: 240px;
  }

  &__item--delivery::before {
    width: 49px;
    height: 29px;

    background-image: url('../images/icons/delivery.svg');
  }

  &__item--payment {
    max-width: 598px;
  }

  &__item--payment &__content {
    margin-left: 238px;
  }

  &__item--payment::before {
    width: 49px;
    height: 44px;

    background-image: url('../images/icons/payment.svg');
  }

  &__content {
    max-width: 210px;
  }

  &__title {
    color: #414141;
    font-size: 18px;
    line-height: 2.22;
  }

  &__text {
    @extend %sans-400;

    font-size: 16px;
    line-height: 1.8;
    color: #585858;
  }
}

.products {
  padding-top: 65px;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 30px;
  }

  &__item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 270px;
    width: 100%;
    min-height: 380px;
    padding: 30px 25px 37px;

    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  &__item:hover &__sale {
    opacity: 1;
  }

  &__sale {
    position: absolute;
    top: 200px;

    display: flex;

    opacity: 0;

    transition: opacity .5s;
  }

  &__link {
    position: relative;

    display: block;
    width: 45px;
    height: 45px;

    background-color: #fff;
    border: none;
    outline: transparent;
    border-radius: 50%;

    transition: background-color .2s;

    &:hover {
      background-color: #a3bbc8;
    }
  }


  &__link:hover &__svg path {
    fill: #fff;
  }

  &__link {
    &+& {
      margin-left: 15px;
    }
  }

  &__svg {
    position: absolute;
    top: 30%;
    left: 27%;
  }

  &__img {
    margin: 0 auto 27px;
  }

  &__text {
    margin-top: auto;

    text-align: center;
  }

  &__title {
    @extend %sans-500;
    font-size: inherit;
    color: $title-color;
  }

  &__price {
    color: #a3bbc8;
  }

  & button.mixitup-control-active {
    color: #191919;
  }
}








.footer {
  @extend %footer-text;

  &__top {
    display: flex;
    padding: 70px 0;

    line-height: 1.71;
    border-bottom: 1px solid #dae4e9;
  }

  &__title {
    margin-bottom: 24px;

    color: #1f2044;
    text-transform: uppercase;
  }

  &__top-item--services {
    margin: 0 180px 0 100px;
  }

  &__top-item {
    max-width: 220px;
  }

  &__logo {
    display: block;
    margin-bottom: 15px;
  }

  &__top-item {
    margin-bottom: 10px;
  }

  &__top-link {
    @extend %footer-text;
    border-bottom: 1px solid transparent;

    transition: all .3s;

    &:hover {
      text-shadow: 0 0 .45px $link-color, 0 0 .45px $link-color;
      border-bottom: 1px solid $link-color;
    }
  }


  &__top-name {
    font-style: normal;
    text-transform: uppercase;
  }

  &__form {
    max-width: 275px;
    margin-left: auto;
  }

  &__form-text {
    margin-bottom: 35px;
  }

  &__form-container {
    display: flex;
  }

  &__form-input {
    width: 170px;
    padding: 12px;

    background-color: #fef7f0;
    border: none;

    &::placeholder {
      @extend %sans-400;
      font-size: 12px;
      color: #234969;
    }
  }


  &__form-btn {
    padding: 15px;

    @extend %sans-400;
    font-size: 12px;
    color: #ffffff;

    border: none;
    background-color: #a3bbc8;
    cursor: pointer;
    outline-color: transparent;

    transition: all .3s;

    &:hover {
      background-color: rgb(178, 197, 207);
      box-shadow: 0px 0px 17px 0px rgba(178, 197, 207, .8);
    }

    &:active {
      background-color: #8d9ca3;
    }
  }



}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;

  &__list {
    display: flex;

    line-height: 1.2;
  }

  &__item {
    &+& {
      margin-left: 13px;
      padding-left: 13px;
      border-left: 1px solid $link-color;
    }
  }

  &__link {
    color: $link-color;
    border-bottom: 1px solid transparent;

    transition: all .3s;

    &:hover {
      text-shadow: 0 0 .45px $link-color, 0 0 .45px $link-color;
      border-bottom: 1px solid $link-color;
    }
  }

}












@import 'media';