@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;

}

.logo {
  margin-right: 147px;
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + &__list-item {
    margin-left: 37px;
  }
  &__list-link {
    @extend %rubik-500;
    font-size: 15px;
    color: $header-color;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  &__oreders {
    display: flex;
    padding: 9px 41px 9px;
    margin-right: 18px;

    background-color: #fcd7b6;
    border-radius: 25px;
  }
  &__link {
    position: relative;
  }
  &__number {
    position: absolute;
    top: 2px;
    right: -9px;

    width: 16px;
    height: 16px;
    
    text-align: center;
    line-height: 16px;
    font-size: 10px;
    color: #243f4d;

    border-radius: 50%;
    background-color: #fff;
  }
}

.search {
  padding: 17px;
  margin-right: 21px;

  background-color: #edf1f4;
  border-radius: 50%;
}

.heart {
  padding: 9px 0;
  margin-right: 29px;
}

.cart {
  padding: 9px 0 9px 29px;

  border-left: 1px solid #fde7d3;
}

.menu-btn {
  padding: 15px;

  border-radius: 50%;
  background-color: #a3bbc8;
}












@import 'media';