.btn {
  font-size: 15px;
  line-height: 1;
  @extend %rubik-500;

  outline: transparent;
  @extend %btn-actions;
  cursor: pointer;

  &--transparent {
    color: $accent;

    border-radius: 5px;
    border: 1px solid #d5d0c9;
  }

  &--green {
    color: #ffffff;

    background-color: #a3bbc8;
    border: none;
  }

  @media (max-width: $xs) {
    font-size: 12px;
  }
  
}