.filter-nav {
  display: flex;
  justify-content: center;

  &__btn {
    margin-bottom: 78px;

    color: #8b8b8b;

    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;

    cursor: pointer;

    @extend %link-actions;

    &+& {
      margin-left: 22px;
    }

    @media (max-width: $xs) {
      margin-bottom: 0;
    }
    
  }

  @media (max-width: $xs) {
    flex-wrap: wrap;
  }
  

}