.filter-nav {
  display: flex;
  justify-content: center;
}

.filter-nav__btn {
  margin-bottom: 78px;

  color: #8b8b8b;

  background-color: transparent;
  border: none;
  outline: transparent;

  cursor: pointer;

  &+& {
    margin-left: 22px;
  }
}