.video {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 501px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__link {
    position: relative;

    transition: transform .3s;

    &:hover {
      transform: scale(1.1);
    }

    &:active {

      .video__path {
        fill: #969da1;
      }
    }    
  }

  &__svg-big {
    border-radius: 50%;

    animation: pulse 4s infinite;
  }

  &__svg-small {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
  }
  
  
  @media (max-width: $md) {
    min-height: 413px;
  }
  
  @media (max-width: $xs) {
    min-height: 223px;
  }

}